@{
    ViewBag.Title = "world global";
}
<link href="~/Content/Index.css" rel="stylesheet" />

<div id="wgl">
    <div id="wgl_principles">
        <h4><span>Best Practice</span></h4>
        <h4><span>Start a new level of business</span></h4>
        <h4><span>Globalize your experiance</span></h4>
        <h4><span>We listen and hear</span></h4>
    </div>
    <div id="wgl_backround">

    </div>
</div>

<div class="row">
    <div id="nav" class="col-sm-4 col-md-4 col-lg-4">
        <span class="circle"></span>
        <div id="hideNav"></div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <h4>Stack of technologies we use</h4>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <h4>Stack of technologies we use</h4>
    </div>
</div>
<div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4">
        <h3>Team</h3>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <h4>Stack of technologies we use</h4>
        <h4>Stack of technologies we use</h4>
        <h4>Stack of technologies we use</h4>
        <h4>Stack of technologies we use</h4>
        <h4>Stack of technologies we use</h4>
        <h4>Stack of technologies we use</h4>
        <h4>Stack of technologies we use</h4>
        <h4>Stack of technologies we use</h4>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <h4>Stack of technologies we use</h4>
    </div>
</div>
<div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4">
        <h3>Contact us</h3>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <h4>Stack of technologies we use</h4>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <h4>Stack of technologies we use</h4>
    </div>
</div>
