@{
    ViewBag.Title = "world global";
}
<link href="~/Content/Index.css" rel="stylesheet" />

<div id="wgl">
    <div id="wgl_principles">
        <h4><span>Best Practice</span></h4>
        <h4><span>Start a new level of business</span></h4>
        <h4><span>Globalize your experiance</span></h4>
        <h4><span>We listen and hear</span></h4>
    </div>
    <div id="wgl_backround">

    </div>
</div>

<div class="row">
    <div id="nav" class="col-sm-4 col-md-4 col-lg-4">
        <span id="Home" class="circle">H</span>
        <span id="ProjectsCircle" class="circle">P</span>
        @*About us*@
        <div id="hideNav">
            <h4>What we do</h4>
            <p>
                We are a company, that build high-perfomance solutions. Would solve your problem efficient and quick with pleasure.
            </p>
            <hr />
            <h4>How we do that</h4>
            <p>
                We are young team, and thanks for that we are full of energy and motivation. Major part of us are the students 
                of the latest university courses. <br /> We love our job and feel good when make our customers happy.
            </p>
        </div>
        @*Our projects*@
        <div id="hideProjects">
            <h4>Our projects</h4>
        </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <h4>Stack of technologies we use</h4>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <h4>Stack of technologies we use</h4>
    </div>
</div>
<div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4">
        <h3>Team</h3>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <h4>Stack of technologies we use</h4>
        <h4>Stack of technologies we use</h4>
        <h4>Stack of technologies we use</h4>
        <h4>Stack of technologies we use</h4>
        <h4>Stack of technologies we use</h4>
        <h4>Stack of technologies we use</h4>
        <h4>Stack of technologies we use</h4>
        <h4>Stack of technologies we use</h4>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <h4>Stack of technologies we use</h4>
    </div>
</div>
<div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4">
        <h3>Contact us</h3>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <h4>Stack of technologies we use</h4>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <h4>Stack of technologies we use</h4>
    </div>
</div>
