@{
    ViewBag.Title = "world global";
}
<link href="~/Content/Index.css" rel="stylesheet" />

<div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4">
        <h1>World Global</h1>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <h4>Stack of technologies we use</h4>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <h4>Stack of technologies we use</h4>
    </div>
</div>
<div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4">
        <h3>Team</h3>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <h4>Stack of technologies we use</h4>
        <h4>Stack of technologies we use</h4>
        <h4>Stack of technologies we use</h4>
        <h4>Stack of technologies we use</h4>
        <h4>Stack of technologies we use</h4>
        <h4>Stack of technologies we use</h4>
        <h4>Stack of technologies we use</h4>
        <h4>Stack of technologies we use</h4>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <h4>Stack of technologies we use</h4>
    </div>
</div>
<div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4">
        <h3>Contact us</h3>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <h4>Stack of technologies we use</h4>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <h4>Stack of technologies we use</h4>
    </div>
</div>
